.burn-frame {
  width: 60%;
  margin: 20px auto;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px 10px 30px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate( -50%, -10%);
  box-sizing: border-box;
  box-shadow: 0 0 10px 3px rgba(119, 118, 118, 0.33);
}

.back{
  padding: 10px 10px 10px 15px;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

.back:after{
  content:"";
  display:block;
  width: 8px;
  height: 8px;
  border-top:2px solid #d9d9d9;
  border-left: 2px solid #d9d9d9;
  transform: rotate(-45deg);
  position: absolute;
  top: 37%;
  left: 5px;
}

/* .back:hover{
  background-color: #d9d9d9;
} */


.burn-line {
  box-sizing: border-box;
}

.burn-line .ant-upload-list.ant-upload-list-text {
  width: 80%;
  padding-left: 120px;
}

.line-label {
  padding: 20px;
  text-align: right;
  width: 25%;
  display: inline-block;
}

.com-line {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.start-btn {
  float: right;
  margin-right: 20%;
}

.file-name {
  margin-left: 20px;
  min-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prg-area {
  display: flex;
  margin: 14px 5px;
}

.prg-area>div {
  margin-left: 10px;
}

.log-area {
  margin: 20px auto 0;
  border: 1px solid #d9d9d9;
  height: 300px;
  overflow: auto;
}
